# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Credenciais Google
credentials.json
token.json

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp